@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$main-color: #16ADB8;
$secondary-color: #F4A91A;
$third-color: #F4F5F6;
$fourth-color: #94725C;
$fifth-color: #283039;
$font-default:'Montserrat', sans-serif;
$font-header:'Nunito', sans-serif;

//Responsive

$breakpoints: (
    sm : 540px,
    md : 855px,
    lg : 1024px,
);

@mixin media-up($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

//Reset

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    font-family: $font-default;
    color: $fifth-color;
    background-color: $third-color;
}

//General

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    @include media-up(sm) {
        font-size: 2rem;
    }
}
h2 {
    font-size: 2rem;
    margin-bottom: 50px;
}

h5 {
    font-size: 1.2rem;
    
}
p {
    font-size: 1.1rem;
    line-height: 1.7em;
    @include media-up(sm) {
        font-size: 1rem;
    }
}
a {
    text-decoration: none;
    color: $fourth-color;
    font-weight: 600;
    transition: 0.3s;
}

a:hover {
    color: $fifth-color;
}

h1, 
h2, 
h5 {
    font-family: $font-header;
}

.container {
    max-width: 1110px;
    margin: 0 auto 20px auto;
    @include media-up(sm) {
        padding: 0 15px;
    }
}
.text-big {
    font-size: 2.8rem;
    text-align: center;
      
}

.text-banner {
    font-size: 1.5rem;
    @include media-up(sm) {
        font-size: 1rem;
    }
}

.text-banner span {
    color: $fifth-color;
    font-weight: 600;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    background: $secondary-color;
    color: $third-color;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 26px;
    margin: 15px 0;
}
.button-secondary {
    padding: 0.5rem 1rem;
    background: $third-color;
    color: $fifth-color;
    transition: 0.4s ease-in-out;
    border-radius: 26px;
}

.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
img {
    max-width: 100%;
}
.color-primary {
    color: $main-color;
}
.color-secondary {
    color: $secondary-color
}
.color-fourth{
    color: $fourth-color;
}
.font-style-normal {
    font-style: normal;
}

//Home

.section-numbers {
    background: $main-color;
    color: $third-color;
}
.numbers {
    padding: 10px 0;
    @include media-up(sm) {
        flex-direction: column;
    } 
}
.numbers p{
    text-align: center;
}

.banner-text {
    width: 55%;
    @include media-up(md) {
        width: 100%;
    }
}
.banner-image {
    width: 40%;
    @include media-up(md) {
        width: 100%;
    }
}
.banner-image img {
    border-radius: 15px;
}
.text-justify {
    text-align: justify;
}

.banner {
    @include media-up(md) {
        flex-direction: column;
    }
}


.center {
    text-align: center;
}
.section {
    margin: 60px 0;

    @include media-up(sm) {
        margin: 50px 0;
    }
}

.service {
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    flex-basis: 31%;
}

.services i {
    font-size: 4rem;
    margin: 15px;
}
.services {
    justify-content: center;
    @include media-up(md) {
        flex-direction: column;
    }
}
.testimonials {
    @include media-up(md) {
        flex-direction: column;
    }
}
.testimonial-img {
    width: 80px;
    margin-right: 20px;
}
.testimonial-img img {
    border-radius: 100%;
}
.testimonial {
    flex-basis: 45%;
    margin: 0 20px;
    height: 100%;
    @include media-up(md) {
        margin-bottom: 25px;
    }
}
.testimonial-text {
        font-style: italic;
}

.testimonial-text i{
    font-size: 35px;
    margin: 10px 10px 10px 0;
}

.testimonial-text .icon-big {
    font-size:3rem;
}
.info-author p {
    font-size: 16px;
    
}
.author-name {
    font-weight: 700;
}

footer {
    background-color: $main-color;
    padding: 0 30px;
    @include media-up(md) {
        flex-direction: column;
    }
}
footer p {
    font-size: 16px;
    padding: 20px;
    color: $third-color;
    font-weight: 300;
}
footer .social-media a {
    cursor: pointer;
    font-size: 20px;
    color: $third-color;
    margin: 5px;
}

//Intern pages

.section-banner-intern {
    height: 300px;
    margin: 0 auto;
    color: $third-color;
    background: rgb(148,114,92);
background: linear-gradient(90deg, rgba(148,114,92,1) 0%, rgba(244,169,26,1) 35%, rgba(22,173,184,1) 100%);
    @include media-up(sm) {
        height: 200px;
    }
}
.section-banner-intern h1 {
    font-weight: 700;
}

//Testimonial
.testimonials-page {
    margin: 60px 0;
}
.testimonials-page .testimonial {
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
//Projects

.projects {
    @include media-up(sm) {
        flex-direction: column;
    }
}
.project {
    width: 330px;
    height: 250px;
    padding: 2rem 1rem;
    position: relative;
    align-items: flex-end;
    box-shadow:  0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin-bottom: 50px;
    @include media-up(md) {
        flex-basis: 40%;
    }
}
.project:hover {
    transform: translateY(20px);
}
.project:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.project:hover:before {
    opacity: 1;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.project .info {
    position: relative;
    z-index: 3;
    color: $third-color;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.project:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.project .info h2 {
    margin: 0;
}

.project .info p{
    margin-top: 8px;
    margin-bottom: 20px;
}

//Contact us

.box-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    border-radius: 10px;
    margin: 50px 0;
    @include media-up(sm) {
        padding: 15px;
    }

}
.box-form form {
    width: 80%;
    margin: 50px auto 0 auto;
    @include media-up(sm) {
        width: 100%;
    }
}
.box-form h2 {
    position: relative;
}

.box-form h2::before {
    content: '';
    position: absolute;
margin: 0 auto;
bottom: 0;
    height: 3px;
    width: 40px;
    background: linear-gradient(90deg, rgba(244,169,26,1) 35%, rgba(22,173,184,1) 100%);
}
.input-box {
    flex-basis: 40%;
    margin: 10px 0 12px 0;
    @include media-up(md) {
        flex-basis: 100%;
    }
}
.user-details {
    @include media-up(md) {
        justify-content: center;
    }
}

.user-details .input-box input {
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid $fifth-color;
    padding-left: 15px;
    font-family: $font-default;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus, 
.user-details .input-box input:valid {
    border-color: #16ADB8;
}
.user-details .input-box label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.box-form .button {
    font-family: $font-default;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: block;
    margin: 50px auto 10px auto;
}
.box-form .button:hover {
    color: $fifth-color;
    
}
.gender-details .category {
    margin: 14px 0;
    @include media-up(sm) {
        flex-direction: column;
        align-items: flex-start;
    }
    
}
.gender-details  .negrita {
    font-weight: 600;
}
.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background: $main-color;
}
form input[type="radio"]{
    display: none;
}

//Menu hamburguer
nav {
    background-color: $third-color;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 5;
}
nav a {
    color: $fifth-color;
    font-weight: 600;
    transition: 0.3s;
}
nav a span {
    font-weight: 400;
}
a.logo {
    font-size: 35px;
    line-height: 80px;
    margin-left: 30px;
    font-weight: 600;
    @include media-up(md) {
        font-size: 30px;
    }
    @include media-up(sm) {
        margin-left: 15px;
    }
}

nav ul {
    float: right;
    margin-right: 30px;
    @include media-up(md) {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: $third-color;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    @include media-up(sm) {
        margin-right: 15px;
    }
}
nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    @include media-up(md) {
        display: block;
    }
}
nav ul li a {
    padding: 7px 13px;
}

.checkbtn {
    font-size: 30px;
    color: $fifth-color;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    @include media-up(md) {
        display: block;
    }
    @include media-up(sm) {
        margin-right: 20px;
    }
}

#check {
    display: none;
}

#check:checked ~ ul {
    @include media-up(md) {
        left: 0;
    }
}
.btn-menu {
    padding: 15px 25px;
    background: $secondary-color;
    color: $third-color;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 26px;
    font-size: 15px;
}
nav a.active, nav a:hover:not(.logo, .btn-menu) {
    color: $main-color;
}
