@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  color: #283039;
  background-color: #F4F5F6;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.7em;
}
@media screen and (max-width: 540px) {
  p {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: #94725C;
  font-weight: 600;
  transition: 0.3s;
}

a:hover {
  color: #283039;
}

h1,
h2,
h5 {
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto 20px auto;
}
@media screen and (max-width: 540px) {
  .container {
    padding: 0 15px;
  }
}

.text-big {
  font-size: 2.8rem;
  text-align: center;
}

.text-banner {
  font-size: 1.5rem;
}
@media screen and (max-width: 540px) {
  .text-banner {
    font-size: 1rem;
  }
}

.text-banner span {
  color: #283039;
  font-weight: 600;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  background: #F4A91A;
  color: #F4F5F6;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 26px;
  margin: 15px 0;
}

.button-secondary {
  padding: 0.5rem 1rem;
  background: #F4F5F6;
  color: #283039;
  transition: 0.4s ease-in-out;
  border-radius: 26px;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.color-primary {
  color: #16ADB8;
}

.color-secondary {
  color: #F4A91A;
}

.color-fourth {
  color: #94725C;
}

.font-style-normal {
  font-style: normal;
}

.section-numbers {
  background: #16ADB8;
  color: #F4F5F6;
}

.numbers {
  padding: 10px 0;
}
@media screen and (max-width: 540px) {
  .numbers {
    flex-direction: column;
  }
}

.numbers p {
  text-align: center;
}

.banner-text {
  width: 55%;
}
@media screen and (max-width: 855px) {
  .banner-text {
    width: 100%;
  }
}

.banner-image {
  width: 40%;
}
@media screen and (max-width: 855px) {
  .banner-image {
    width: 100%;
  }
}

.banner-image img {
  border-radius: 15px;
}

.text-justify {
  text-align: justify;
}

@media screen and (max-width: 855px) {
  .banner {
    flex-direction: column;
  }
}

.center {
  text-align: center;
}

.section {
  margin: 60px 0;
}
@media screen and (max-width: 540px) {
  .section {
    margin: 50px 0;
  }
}

.service {
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  flex-basis: 31%;
}

.services i {
  font-size: 4rem;
  margin: 15px;
}

.services {
  justify-content: center;
}
@media screen and (max-width: 855px) {
  .services {
    flex-direction: column;
  }
}

@media screen and (max-width: 855px) {
  .testimonials {
    flex-direction: column;
  }
}

.testimonial-img {
  width: 80px;
  margin-right: 20px;
}

.testimonial-img img {
  border-radius: 100%;
}

.testimonial {
  flex-basis: 45%;
  margin: 0 20px;
  height: 100%;
}
@media screen and (max-width: 855px) {
  .testimonial {
    margin-bottom: 25px;
  }
}

.testimonial-text {
  font-style: italic;
}

.testimonial-text i {
  font-size: 35px;
  margin: 10px 10px 10px 0;
}

.testimonial-text .icon-big {
  font-size: 3rem;
}

.info-author p {
  font-size: 16px;
}

.author-name {
  font-weight: 700;
}

footer {
  background-color: #16ADB8;
  padding: 0 30px;
}
@media screen and (max-width: 855px) {
  footer {
    flex-direction: column;
  }
}

footer p {
  font-size: 16px;
  padding: 20px;
  color: #F4F5F6;
  font-weight: 300;
}

footer .social-media a {
  cursor: pointer;
  font-size: 20px;
  color: #F4F5F6;
  margin: 5px;
}

.section-banner-intern {
  height: 300px;
  margin: 0 auto;
  color: #F4F5F6;
  background: rgb(148, 114, 92);
  background: linear-gradient(90deg, rgb(148, 114, 92) 0%, rgb(244, 169, 26) 35%, rgb(22, 173, 184) 100%);
}
@media screen and (max-width: 540px) {
  .section-banner-intern {
    height: 200px;
  }
}

.section-banner-intern h1 {
  font-weight: 700;
}

.testimonials-page {
  margin: 60px 0;
}

.testimonials-page .testimonial {
  padding: 20px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 540px) {
  .projects {
    flex-direction: column;
  }
}

.project {
  width: 330px;
  height: 250px;
  padding: 2rem 1rem;
  position: relative;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  margin-bottom: 50px;
}
@media screen and (max-width: 855px) {
  .project {
    flex-basis: 40%;
  }
}

.project:hover {
  transform: translateY(20px);
}

.project:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgb(150, 201, 61));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.project:hover:before {
  opacity: 1;
}

.project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.project .info {
  position: relative;
  z-index: 3;
  color: #F4F5F6;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.project:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.project .info h2 {
  margin: 0;
}

.project .info p {
  margin-top: 8px;
  margin-bottom: 20px;
}

.box-form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 50px;
  border-radius: 10px;
  margin: 50px 0;
}
@media screen and (max-width: 540px) {
  .box-form {
    padding: 15px;
  }
}

.box-form form {
  width: 80%;
  margin: 50px auto 0 auto;
}
@media screen and (max-width: 540px) {
  .box-form form {
    width: 100%;
  }
}

.box-form h2 {
  position: relative;
}

.box-form h2::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  height: 3px;
  width: 40px;
  background: linear-gradient(90deg, rgb(244, 169, 26) 35%, rgb(22, 173, 184) 100%);
}

.input-box {
  flex-basis: 40%;
  margin: 10px 0 12px 0;
}
@media screen and (max-width: 855px) {
  .input-box {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 855px) {
  .user-details {
    justify-content: center;
  }
}

.user-details .input-box input {
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #283039;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #16ADB8;
}

.user-details .input-box label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.box-form .button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 50px auto 10px auto;
}

.box-form .button:hover {
  color: #283039;
}

.gender-details .category {
  margin: 14px 0;
}
@media screen and (max-width: 540px) {
  .gender-details .category {
    flex-direction: column;
    align-items: flex-start;
  }
}

.gender-details .negrita {
  font-weight: 600;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #16ADB8;
}

form input[type=radio] {
  display: none;
}

nav {
  background-color: #F4F5F6;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 5;
}

nav a {
  color: #283039;
  font-weight: 600;
  transition: 0.3s;
}

nav a span {
  font-weight: 400;
}

a.logo {
  font-size: 35px;
  line-height: 80px;
  margin-left: 30px;
  font-weight: 600;
}
@media screen and (max-width: 855px) {
  a.logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 540px) {
  a.logo {
    margin-left: 15px;
  }
}

nav ul {
  float: right;
  margin-right: 30px;
}
@media screen and (max-width: 855px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F4F5F6;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 540px) {
  nav ul {
    margin-right: 15px;
  }
}

nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
@media screen and (max-width: 855px) {
  nav ul li {
    display: block;
  }
}

nav ul li a {
  padding: 7px 13px;
}

.checkbtn {
  font-size: 30px;
  color: #283039;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 855px) {
  .checkbtn {
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .checkbtn {
    margin-right: 20px;
  }
}

#check {
  display: none;
}

@media screen and (max-width: 855px) {
  #check:checked ~ ul {
    left: 0;
  }
}

.btn-menu {
  padding: 15px 25px;
  background: #F4A91A;
  color: #F4F5F6;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 26px;
  font-size: 15px;
}

nav a.active, nav a:hover:not(.logo, .btn-menu) {
  color: #16ADB8;
}/*# sourceMappingURL=main.css.map */